$black: #222;
$dark: #f7b733;
$light: rgba(254, 243, 224, 0.52);

.wp-block-gutenburger-text-alignment-toolbar {
    background: $light;
    border: 5px $dark solid;
    padding: 1rem;

    p {
        font-size: 1.4rem;
    }

    li {
        list-style-position: inside;
    }
}
